/*//////////////////////////////////////////////////TEMPLATE RESPONSIVE///////////////////////////////////////////////////*/
#header_responsive_container {
    position: fixed;
    display: none;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    background-color: rgb(68, 74, 80);
}
#header_responsive_container .title_container {
    display: flex;
    margin-top: 10px;
    align-items: baseline;
}

#header_responsive_container ul {
    display: flex;
    justify-content: space-between;
}

#header_responsive_container li {
    list-style: none;
    padding-bottom: 20px;
}

#header_responsive_container li i {
    text-decoration: none;
    color: rgb(106, 159, 152);
    transition: all ease 0.2s;
    margin: 0px 20px 0px 10px
}

#header_responsive_container li:hover i {
    color: rgb(106, 159, 152);
    transform: scale(1.1);
}

#responsive_footer_container {
    display: none;
}

/*//////////////////////////////////////////////////TEMPLATE///////////////////////////////////////////////////*/

@media screen and (max-width:1440px) {
    #main_navbar {
        width: 50%;
    }
}

@media screen and (max-width:1024px) {

    #main_navbar {
        width: 60%;
    }

    #main_template_container .title_container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    #main_template_container {
        display: none;
    }

    main .fake_aside {
        display: none;
    }

    #header_responsive_container {
        display: flex;
    }

    #responsive_footer_container {
        display: flex;
    }

    #header_responsive_container h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:425px) {
    #header_responsive_container .home_icon {
        display: none;
    }

    #header_responsive_container li i {
        font-size: 1.6em;
        margin: 0px 10px 0px 10px;
    }

    #header_responsive_container h1 {
        font-size: 1em;
    }

    #header_responsive_container .home_logo {
        width: 30px;
        margin-left: 5px;
    }
}

/*//////////////////////////////////////////////////HOME PAGE///////////////////////////////////////////////////*/


@media screen and (max-width:768px) {
    main .main_bloc {
        width: 100%;
    }

    .fa-chevron-circle-up {
        left: 90vw;
    }

    #title_container h1 {
        font-size: 3em;
    }
}

@media screen and (max-width:425px) {
    #main_home_content h2 {
        font-size: 1.5em;
    }

    #new_article_container {
        height: 310px;
    }
    #new_article_container img{
        max-width: 150%;
    }

    #new_article_container .new_article_content {
        padding: 10px;
    }

    #main_home_content .last_article_url {
        width: 95%;
        margin: 20px;
        min-height: 310px;
    }
    #main_home_content .home_hr{
        margin-bottom: 20px;
    }
}

/*//////////////////////////////////////////////////article PAGE///////////////////////////////////////////////////*/
@media screen and (max-width:1024px) {
    #article_page_container {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    #article_page_container {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    #article_container {
        padding: 30px 2%;
    }

    #article_container h1 {
        margin-bottom: 60px;
    }
}

/*//////////////////////////////////////////////////CREATE article///////////////////////////////////////////////////*/
@media screen and (max-width:1024px) {
    #create_article_page_container {
        width: 95%;
    }
}

/*//////////////////////////////////////////////////EDIT article///////////////////////////////////////////////////*/
@media screen and (max-width:768px) {
    #edit_article_page_container {
        width: 95%;
    }
}

/*//////////////////////////////////////////////////EDIT COMMENT///////////////////////////////////////////////////*/
@media screen and (max-width:768px) {
    #edit_page_container {
        width: 95%;
    }
}

/*//////////////////////////////////////////////////ADMIN PANEL///////////////////////////////////////////////////*/
@media screen and (max-width:425px) {
    #menu_admin .btn {
        margin: 0 0.5%;
        max-width: 30%;
        padding: 1%;
        display: flex;
        align-items: center;
        text-align: center;
    }
}

/*//////////////////////////////////////////////////FORMS///////////////////////////////////////////////////*/

@media screen and (max-width:768px) {
    #login_forms_container {
        height: auto;
    }

    #log_forms {
        flex-flow: row wrap;
    }

    #login_form_container,
    #register_form_container {
        width: 90%;
        margin-bottom: 40px;
    }

    #register_form_container::before {
        width: 30vw;
        height: 2px;
        left: 35vw;
    }

    #login_forms_container input {
        width: 50%;
    }

    #login_forms_container h3 {
        margin-top: 40px;
    }
}