/*//////////////////////////////////////////////////TEMPLATE RESPONSIVE///////////////////////////////////////////////////*/
#header_responsive_container {
    position: fixed;
    display: none;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    background-color: rgb(68, 74, 80);
}
#header_responsive_container .title_container {
    display: flex;
    margin-top: 10px;
    align-items: baseline;
}

#header_responsive_container ul {
    display: flex;
    justify-content: space-between;
}

#header_responsive_container li {
    list-style: none;
    padding-bottom: 20px;
}

#header_responsive_container li i {
    text-decoration: none;
    color: rgb(106, 159, 152);
    transition: all ease 0.2s;
    margin: 0px 20px 0px 10px
}

#header_responsive_container li:hover i {
    color: rgb(106, 159, 152);
    transform: scale(1.1);
}

#responsive_footer_container {
    display: none;
}

/*//////////////////////////////////////////////////TEMPLATE///////////////////////////////////////////////////*/

@media screen and (max-width:1440px) {
    #main_navbar {
        width: 50%;
    }
}

@media screen and (max-width:1024px) {

    #main_navbar {
        width: 60%;
    }

    #main_template_container .title_container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    #main_template_container {
        display: none;
    }

    main .fake_aside {
        display: none;
    }

    #header_responsive_container {
        display: flex;
    }

    #responsive_footer_container {
        display: flex;
    }

    #header_responsive_container h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:425px) {
    #header_responsive_container .home_icon {
        display: none;
    }

    #header_responsive_container li i {
        font-size: 1.6em;
        margin: 0px 10px 0px 10px;
    }

    #header_responsive_container h1 {
        font-size: 1em;
    }

    #header_responsive_container .home_logo {
        width: 30px;
        margin-left: 5px;
    }
    .back_to_up_btn{
        width: 5%;
    }
}

/*//////////////////////////////////////////////////HOME PAGE///////////////////////////////////////////////////*/


@media screen and (max-width:768px) {
    main .main_bloc {
        width: 100%;
    }

    .fa-chevron-circle-up {
        left: 90vw;
    }

    #title_container h1 {
        font-size: 3em;
        padding: 0 10px 0 10px;
    }
    #title_container h3 {
        padding: 0 10px 0 10px;
    }
    #home_articles .article_content_container h3{
        padding-top: 25%;
    }
    #new_article_container img{
        filter: brightness(50%);
    }
    #home_articles .article_content_container:hover p {
        display: none;
    }
    #home_articles .article_content_container{
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)) no-repeat;
        background-size: 100% 100%;   
    }
}

@media screen and (max-width:425px) {
    #home_articles{
        padding: 0;
    }
    #main_home_content h2 {
        font-size: 1.5em;
        padding: 0 10px 0 10px;
    }
    #main_home_content p {
        font-size: 1.1em !important;
    }

    #new_article_container {
        height: 310px;
    }
    #new_article_container img{
        max-width: 150% !important;
        filter: brightness(50%);
    }

    #new_article_container .new_article_content {
        padding: 10px;
    }

    #main_home_content .last_article_url {
        width: 95%;
        margin: 20px;
        min-height: 310px;
    }
    #main_home_content .home_hr{
        margin-bottom: 20px;
    }
}

/*//////////////////////////////////////////////////ARTICLE PAGE///////////////////////////////////////////////////*/
@media screen and (max-width:1024px) {
    #article_page_container {
        margin: 0;
    }
    #article_container{
        padding: 10px 15px 60px 15px;
    }
}

@media screen and (max-width:768px) {
    #article_page_container {
        width: 100%;
    }
    #article_container{
        overflow: hidden;
        padding: 100px 15px 60px 15px;
    }
}

@media screen and (max-width:425px) {
    #article_container {
        padding: 30px 2%;
    }

    #article_container h1 {
        margin-bottom: 60px;
        font-size: 1.6em;
    }
}
/*//////////////////////////////////////////////////ARTICLES PAGE///////////////////////////////////////////////////*/
@media screen and (max-width:768px) {

    #content_all_articles .article_content_container h3{
        padding-top: 25%;
    }
    #content_all_articles .article_content_container:hover p {
        display: none;
    }
    #content_all_articles .article_content_container{
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)) no-repeat;
        background-size: 100% 100%;   
    }
}
/*//////////////////////////////////////////////////CREATE article///////////////////////////////////////////////////*/
@media screen and (max-width:1024px) {
    #create_article_page_container {
        margin-top: 100px;
    }
}

/*//////////////////////////////////////////////////EDIT article///////////////////////////////////////////////////*/
@media screen and (max-width:768px) {
    #edit_article_page_container {
        margin-top: 100px;
    }
}

/*//////////////////////////////////////////////////EDIT COMMENT///////////////////////////////////////////////////*/
@media screen and (max-width:768px) {
    #edit_page_container {
        margin-top: 100px;
    }
}

/*//////////////////////////////////////////////////ADMIN PANEL///////////////////////////////////////////////////*/
@media screen and (max-width:1024px){
    .comment_list_container{
        width: 90%;
        margin: auto;
    }
    #menu_admin{
        width: 95%;
    }
    #admin_comment{
        padding: 0%;
    }
    #admin_main_container {
        width: 97%;
        box-shadow: none;
    }
    #report_comments_container{
        justify-content: center;
    }
    #admin_comment .admin_comments_content{
        justify-content: center;
    }
    #list_articles_container{
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    #admin_main_container {
        width: 100%;
    }
    #admin_article{
        padding: 40px 0 0 0;
    }
    #admin_article .create_article_btn {
        margin-left: 11%;
    }
    .admin_comments_content{
        justify-content: center;
    }
}
@media screen and (max-width:425px) {
    #menu_admin .btn {
        max-width: 30%;
        padding: 1%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    #admin_comment_reported{
        padding: 35px 0 0 18px;
    }
    #menu_admin{
        width: 95%;
    }
    .comment_list_container{
        width: 90%;
        margin: auto;
    }
}

/*//////////////////////////////////////////////////FORMS///////////////////////////////////////////////////*/

@media screen and (max-width:768px) {
    #login_forms_container {
        height: auto;
        margin-top: 100px;
    }

    #log_forms {
        flex-flow: row wrap;
    }

    #login_form_container,
    #register_form_container {
        width: 90%;
        max-width: 100%;
        margin-bottom: 40px;
    }

    #register_form_container::before {
        width: 30vw;
        height: 2px;
        left: 35vw;
    }

    #login_forms_container input {
        width: 50%;
    }

    #login_forms_container h3 {
        margin-top: 40px;
    }
}
/*//////////////////////////////////////////////////ALERT PHP///////////////////////////////////////////////////*/
@media screen and (max-width:768px){
    .alert{
        width: 100%;
        margin-top: 75px;
    }
}